body {
    font-family: 'Open Sans', sans-serif;
}

.orange {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}

.mary {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

.btnp {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    padding: 15px 35px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hardy {
    width: 500px;
}

.hi {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;


}


.bcontent {
    max-width: 500px;
}

.m {
    font-size: 85px font-weight: 700;
    margin-top: 5px;


}

.d {
    margin-top: 5px;

}

.section-title {

    color: var#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.section-des {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* *main */

main {
    max-width: 1140px;
    margin: 0px auto;
}

main section {
    margin: 130px;
}


/* *about */

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 230px;

}

.allinfo {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
    justify-content: space-around;

}

#what-i-do {
    padding: 30px 150px;
}

/* *what i do */

.skills {
    display: flex;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-des {
    color: #757575;
}

.skill {
    padding: 30px;
    gap: 24px;

}


/* *resume */

.resume-col-titile {
    color: var#474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;

}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-col hr {
    margin: 30px;
}




.resume-programm {
    color: #474747;
    font-size: 25px;
    font-weight: 700;

}

.resume-uni {
    color: #757575;
}

.resume-skill {
    color: #757575;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}


/* *footer */

footer {
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
    

}


.footer-col {
    width: 50%;
}

.fillup input[type="text"], .fillup input[type="email"],
textarea {
    display: block;
    margin-bottom: 24px;
    padding: 18px 30px;
    font-size: 16px;
    color: #757575;
    border-radius: 5px;
    background: var(--white-color, #FFF);
    border: 0px;
    width: 100%;
}

.social-links a{
    margin-right: 24px;
}


